@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.create {
    background-color: #d2d2d2;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
    transition: color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    /* background-color: #333; */
    background-color: black;
    height: 5vh;
}

#containerPrincipal {
    display: flex;
    width: 100%;
    height: 95vh;
}

aside {
    flex-direction: column;
    display: flex;
    border-right: 1px solid #d2d2d7;
    width: 20%;
    padding: 20px;
    margin: 1%;
    align-items: center;
}

aside h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.topContent {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    width: 100%;
    border-bottom: 1px solid #d2d2d7;
    margin: 20px;
}

aside h2 a {
    background-color: rgba(180, 180, 180, 0.596);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #585858;
    text-decoration: none;
    transition: color 0.3s;
}

/* aside h2 a:hover {
    color: #ff9742;
} */

.quadrosAside {
    width: 100%;
}


aside ul.quadrosAside {
    list-style-type: none;
    padding: 0;
    border-radius: 15px;
}

aside ul.quadrosAside li a {

    max-width: 100%;
    color: #49494b;
    text-decoration: none;
    display: block;
    padding: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

aside ul.quadrosAside li a:hover {
    background-color: #ddd;

}

main {
    flex-grow: 1;
    border-radius: 5px;
    margin: 1%;
    display: flex;
    align-items: center;
}

.containerMain {
    display: flex;
    align-items: start;
    height: 100%;
    /* background-color: #f5f5f7; */
    border-radius: 15px;
    width: 100%;
    min-width: 100%; /* Set a fixed height */
    overflow-y: auto;
}

.containerLista {
    padding: 20px;
    min-width: 20%;
    /* border: 1px solid rgba(87, 87, 87, 0.096); */
    border-radius: 15px;
    margin: 20px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f7;
}

.nomeLista {
    padding-bottom: 20px;
    color: #333;
    font-size: large;
    font-weight: bold;
}


.lista {
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    max-height: 90%; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
}


.itemLista {
    width: 100%;
    background-color: #ffffff;
    color: white;
    background-color: #f5f5f7;
}

.itemTarefa {
    margin: 0px 0px 20px 0px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.tarefa {
    list-style-type: none;
    padding: 0;
}

.itemTarefa p {
    padding: 8px;
}

input[type="checkbox"] {
    border: none;
    width: 20px;  /* Define a largura do checkbox */
    height: 20px; /* Define a altura do checkbox */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}


input[type="checkbox"]:checked {
    background-color: #a3a3a3; /* Muda a cor de fundo quando está marcado */
    border-color: #a3a3a3; /* Muda a cor da borda quando está marcado */
}


.itemTarefa a {
    color: rgb(92, 92, 92);
    text-decoration: none;
    display: block;
}

.itemTarefa a:hover {
    text-decoration: underline;
}

.quadro {
    cursor: pointer;

    & .active {
        background-color: #ff7300;
        border-radius: 5px;
    }
}

.quadro.active {
    background-color: #ff7300;
    border-radius: 5px;
}

header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9fc;
    border-bottom: 1px solid #6c6c6d52;
  }

  .nav-endItems {
    margin-right: 20px;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #585858;
  }

  nav ul {
      display: flex;
      width: 100%;
      align-items: center;
      font-size: small;
      padding-right: 20px;
      justify-content: end;  
  }

  .li {
    padding-right: 60px;
  }

  .topLista {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  #showTarefaForm {
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    border: none;
    border-radius: 50%;
    background-color: #ff7300;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#showTarefaForm:hover {
    background-color: #b85300;
    transform: scale(1.1); /* Exemplo de transformação ao passar o mouse */
}

.newForm {
    color: #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Ajuste conforme necessário */
    padding: 20px;
    background-color: #f5f5f7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000; /* Certifique-se de que o formulário esteja acima do conteúdo */
    
    & button {
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        color: #585858;
        margin-top: 20px;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        font-weight: bold;
        font-size: 15px;


        & input, textarea{
            border: none;
            background-color: #d2d2d2;
            padding: 4px;
            border-radius: 5px;

            &:focus {
                outline: none;
                border: none;
                background-color: #a8a8a8;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparente */
    display: none; /* Inicialmente escondido */
    z-index: 1000; /* Certifique-se de que fique acima do conteúdo */
}

#btnClose {
    margin-left: 90%;
    margin-bottom: 20px;
    padding: 1px;
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
    border: none;
    border-radius: 50%;
    background-color: #cacaca;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #333;
    }
}




